/* 
  Fonts
 */

@font-face {
  font-family: 'Helvetica_Neue_CE_55_Roman';
  src: url('../media/fonts/Helvetica_Neue_CE_55_Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
