.popup * {
    box-sizing: border-box;
    font-family: 'posterizerkgrough';
    outline: none;
}

.popup__title {
    color: #4972b4 !important;
}

.popup__desc {
    color: #000000;
}

.popup__close {

}

#popupClose2 {
    width: 3.4375rem;
    height: 3.4375rem;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background-color: #ff5400 !important;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.form__submit {
    background-color: #ff5400;
    color: #ffffff;
}

.form__textarea {
    font-size: 20px;
}

.form__select-wrap .select2-container--open .select2-selection {
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--open .select2-selection__rendered {
    color: #ffffff !important;
}

.form__select-wrap .select2-dropdown {
    color: #ffffff !important;
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--default .select2-results__option--highlighted[aria-selected], .form__select-wrap .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #4972b4 !important;
    opacity: 0.8 !important;
}
