* {
    outline: none;
}



div#popupBg {
    position: fixed;
    top: -10%;
    width: 100%;
    height: 110%;
    background: black;
    opacity: 0.4;
    overflow: hidden;
}

.popupContent {
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4972b4;
}

.popupContent h2 p {
    font-size: 80px;
}

#popupClose {
    width: 3.4375rem;
    height: 3.4375rem;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background-color: #ff5400 !important;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

p {
    font-family: 'sprite_graffiti';
}

h2 {
    font-family: 'posterizerkgrough';
    font-size: 45px;
}

.popupInfo {
    margin-top: 30px;
}

.popupInfo p {
    font-family: 'posterizerkgrough';
    text-transform: uppercase;
    color: #000000;
    width: 100%;
    display: block;
}

.kostyl {
    margin-top: 15px;
}

p.item {
    color: white;
    font-size: 30px;
}

.btn-def {
    font-family: 'posterizerkgrough';
    text-transform: uppercase;
    padding: 5px 10px;
    background: #ff5400;
    border: 0;
    color: white;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
}

p.phone {
    color: #4972b4;
    font-size: 30px;
}

td:last-child {
    padding-left: 10px;
}

p.adress {
    color: #4972b4;
}

li {
//margin-top: 10px;
}

a {
    font-size: 20px;
    font-family: 'posterizerkgrough';
    color: #ff5400;
    text-transform: uppercase;
    text-decoration: none;
}

.plan {
    height: 530px;
    background: white;
    width: 100%;
    background-image: url('/local/templates/pro-69/distr/www/img/plan.png');
    background-repeat: no-repeat;
}


.preview {
    width: 100%;
    height: 231px;
    background-image: url('/local/templates/pro-69/distr/www/img/preview.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.popupFooterLeft {
    display: block;
    padding-left: 30px;
    background-color: white;
    /* width: 100%; */
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-bottom: 30px;
}


/* Галерея */

.galery-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

ul.horizontal-menu {
    display: block;
}

.horizontal-menu > li {
    display: inline-block;
    position: relative;

}

.btn-galery {
    border: 0;
    padding: 5px 10px;
    background: #ff5400;

}

.popup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'posterizerkgrough';
    outline: none;
}

.popup--callback {
    /*z-index: 500000 !important;*/
}

#ajaxPopupCallBack {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    overflow: hidden;
    z-index: 6000;
}


.popup__title {
    color: #4972b4 !important;
}

.popup__desc {
    color: #000000;
}

.popup__close {

}

#popupClose2 {
    width: 3.4375rem;
    height: 3.4375rem;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background-color: #ff5400 !important;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.form__submit {
    background-color: #ff5400;
    color: #ffffff;
}

.form__textarea {
    font-size: 20px;
}

.form__select-wrap .select2-container--open .select2-selection {
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--open .select2-selection__rendered {
    color: #ffffff !important;
}

.form__select-wrap .select2-dropdown {
    color: #ffffff !important;
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--default .select2-results__option--highlighted[aria-selected], .form__select-wrap .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #4972b4 !important;
    opacity: 0.8 !important;
}

#ajaxPopups {
    display: none;
    left: 0 !important;
    right: 0 !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    position: fixed;
    bottom: auto;
    color: white;
    background: #ffffff;
    max-width: 1000px;
    z-index: 5000;
    float: left;
}

.btn-callback {
    display: block;
    margin: 20px 0 40px;
}

.row {
    position: relative;
}

.section--lofts:after {
    content: '';
    background-color: #41526d;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.galleryGroup .slick-slider,*/
/*.galleryGroup .slick-list,*/
/*.galleryGroup .slick-slide,*/
/*.galleryGroup .slick-track,*/
/*.galleryGroup .fancybox {*/
/*height: inherit !important;*/
/*}*/


.galleryGroup {
    min-height: initial !important;
    max-height: 500px !important;
}

ul.gallery2Switch {
    z-index: 100;
}

@media screen and (max-width: 1000px) {

    #ajaxPopups {
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        transform: none !important;
        overflow-y: scroll;
    }

    #cardLoft > div:first-child,
    #cardLoft > div:last-child {
        float: none !important;
        width: 100% !important;
        display: block !important;
    }

    .sliderCard img {
        width: 100% !important;
    }
}