.example {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -moz-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

* {
    outline: none;
}

div#popupBg {
    position: fixed;
    top: -10%;
    width: 100%;
    height: 110%;
    background: black;
    opacity: 0.4;
    overflow: hidden;
}

.popupContent {
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4972b4;
}

.popupContent h2 p {
    font-size: 70px;
}

#popupClose {
    width: 3.4375rem;
    height: 3.4375rem;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background-color: #ff5400 !important;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

p {
    font-family: 'sprite_graffiti';
}

h2 {
    font-family: 'posterizerkgrough';
    font-size: 45px;
}

.popupInfo {
    margin-top: 30px;
}

.popupInfo p {
    font-family: 'posterizerkgrough';
    text-transform: uppercase;
    color: #000000;
    width: 100%;
    display: block;
}

.kostyl {
    margin-top: 15px;
}

p.item {
    color: white;
    font-size: 30px;
}

.btn-def {
    font-family: 'posterizerkgrough';
    text-transform: uppercase;
    padding: 5px 10px;
    background: #ff5400;
    border: 0;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
}

p.phone {
    color: #4972b4;
    font-size: 30px;
}

td:last-child {
    padding-left: 10px;
}

p.adress {
    color: #4972b4;
}

li {
/ / margin-top: 10 px;
}

a {
    font-size: 20px;
    font-family: 'posterizerkgrough';
    color: #ff5400;
    text-transform: uppercase;
    text-decoration: none;
}

.plan {
    height: 530px;
    background: white;
    width: 100%;
    background-image: url('/local/templates/pro-69/distr/www/img/plan.png');
    background-repeat: no-repeat;
}

.preview {
    width: 100%;
    height: 231px;
    background-image: url('/local/templates/pro-69/distr/www/img/preview.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.popupFooterLeft {
    display: block;
    padding-left: 30px;
    background-color: white;
    /* width: 100%; */
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* Галерея */

.galery-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

ul.horizontal-menu {
    display: block;
}

.horizontal-menu > li {
    display: inline-block;
    position: relative;

}

.btn-galery {
    border: 0;
    padding: 5px 10px;
    background: #ff5400;

}

.popup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'posterizerkgrough';
    outline: none;
}

.popup--callback {
    /*z-index: 500000 !important;*/
}

#ajaxPopupCallBack {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 6000;
}

.popup__title {
    color: #4972b4 !important;
}

.popup__desc {
    color: #000000;
}

.popup__close {

}

#popupClose2 {
    width: 3.4375rem;
    height: 3.4375rem;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background-color: #ff5400 !important;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.form__submit {
    background-color: #ff5400;
    color: #ffffff;
}

.form__textarea {
    font-size: 20px;
}

.form__select-wrap .select2-container--open .select2-selection {
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--open .select2-selection__rendered {
    color: #ffffff !important;
}

.form__select-wrap .select2-dropdown {
    color: #ffffff !important;
    background-color: #4972b4 !important;
}

.form__select-wrap .select2-container--default .select2-results__option--highlighted[aria-selected], .form__select-wrap .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #4972b4 !important;
    opacity: 0.8 !important;
}

#ajaxPopups {
    display: none;
    left: 50% !important;
    right: 0 !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: fixed;
    bottom: auto;
    color: white;
    background: #ffffff;
    width: 1000px;
    z-index: 5000;
}

.btn-callback {
    display: block;
    margin: 20px 0 40px;
}

.row {
    position: relative;
}

.section--lofts:after {
    content: '';
    background-color: #41526d;
    position: absolute;
    width: 100%;
    height: 100%;
}

.galleryGroup .slick-slider,
.galleryGroup .slick-list,
.galleryGroup .slick-slide,
.galleryGroup .slick-track,
.galleryGroup .fancybox {
    display: block;
    height: inherit !important;
}

.galleryGroup .slick-slide img {
    -o-object-fit: cover;
    object-fit: cover;
}

/*.galleryGroup {*/
/*min-height: 500px !important;*/
/*}*/

ul.gallery2Switch {
    z-index: 100;
}

@media screen and (max-width: 1000px) {

    #ajaxPopups {
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        overflow-y: scroll;
        width: 100%;
    }

    #cardLoft > div:first-child,
    #cardLoft > div:last-child {
        float: none !important;
        width: 100% !important;
        display: block !important;
    }

    .sliderCard img {
        width: 100% !important;
    }
}

@media screen and (max-height: 820px) {

    #ajaxPopups {
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        overflow-y: scroll;
    }
}

.title {
    margin-left: 0 !important;
    white-space: normal;
}

.five-persent {
    padding-left: 0;
    padding-right: 0;
}

.entry {
    color: #4972b4;
    padding: 0 1.875rem;;
}

.entry__title {
    font-size: 1.3vw;
    line-height: 1.3;
    margin-bottom: 15px;
}

.entry__content:after {
    clear: both;
    content: "";
    display: table;
}

.entry__content {
    font-size: 0;
}

.entry__desc {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}

.entry__num {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 13vw;
    letter-spacing: -10px;
    color: #ff5400;
}

@media screen and (min-width: 1600px) {

    .entry__num {
        font-size: 7vw;
    }
}

.five-persent .dotSlider {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.detail-wrap:after {
    clear: both;
    content: "";
    display: table;
}

.detail {

}

@media screen and (max-width: 1000px) {
    .detail {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    .plan {
        height: auto;
        padding: 20px 0;
    }

    .sliderCard .slick-next,
    .sliderCard .slick-prev {
        top: 50%;
    }
}

@media screen and (max-width: 500px) {
    .detail {
        display: block;
        vertical-align: top;
        margin-left: 0;
    }
}

.detail__item {
    margin-bottom: 15px;
}

.popupFooterLeft--mobile {
    display: none;
    padding: 0 30px;
    margin-left: 0;
    padding-bottom: 20px;
}

.popupFooterLeft--mobile .btn-callback {
    margin-bottom: 10px;
}

.phone {
    font-family: 'posterizerkgrough' !important;
}

.adress {
    font-family: 'posterizerkgrough' !important;
}

@media screen and (max-width: 1000px) {

    .detail__item {
        margin-bottom: 25px;
    }

    .popupFooterLeft {
        display: none;
    }

    .popupFooterLeft--mobile {
        display: block;
    }
}

.detail__line {
    display: inline-block;
    vertical-align: top;
}

.detail__title {
    margin-bottom: 5px;
}

.show-room {
    overflow: visible !important;
}

.sliderCard .slick-arrow,
.slider .slick-arrow {
    width: 100px !important;
    height: 50px !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    margin: 0 !important;
    top: 55% !important;
}
.sliderCard .slick-arrow:before,
.slider .slick-arrow:before {
    content: none !important;
}
.sliderCard .slick-next,
.slider .slick-next {
    background: url('../img/arrow_right.svg') no-repeat 0 0;
}
.sliderCard .slick-next:hover,
.slider .slick-next:hover {
    background-image: url('../img/arrow_right_hover.svg');
}
.sliderCard .slick-prev,
.slider .slick-prev {
    background: url('../img/arrow_left.svg') no-repeat 0 0;
}
.sliderCard .slick-prev:hover,
.slider .slick-prev:hover {
    background-image: url('../img/arrow_left_hover.svg');
}

.header {
    background-color: #ff5400;
    color: #ffffff !important;
}

.header a,
.header-link {
    color: #ffffff;
}

.header-link__text {
    font-size: 28px;
    vertical-align: middle;
    position: relative;
    bottom: -1px;
}

.header-link-middle {
    position: relative;
    top: -3px;
}

.header_link__item_first {
    color: #4972b4;
}

.logo-mobile {
    width: 93px;
    height: 94px;
    display: none;
}

.header-icon {
    display: none;
}

.header-call-icon {
    background: url('../img/header-call-icon.png') no-repeat 0 0;
    width: 48px;
    height: 41px;
}

.header-mail-icon {
    background: url('../img/header-mail-icon.png') no-repeat 0 0;
    width: 47px;
    height: 33px;
}

.choose-mobile {
    position: fixed;
    bottom: -3px;
    left: 0;
    right: 0;
    display: none;
    max-width: 480px;
    margin: 0 auto;
}

.lot-sort {
    font-size: 16px;
    display: block;
}

.lot-sort.active {
    color: #ffffff;
}

span.blockIcon1 {
    top: -90% !important;
}

.text-doms {
    font-size: 5vw;
    letter-spacing: -4px;
}

.wrapper {
    width: 100%;
}
div#ajaxPopups .plan>div img {
    max-width: 100% !important;
}
.plan {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 25px;
}
.lot-sort-mobile {
    display: none;
    color: #ff5400;
    background: transparent;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'posterizerkgrough', sans-serif;
}
.lotItems {
    padding-bottom: 0;
}
.pagintaion-wrap {
    padding-left: 38px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1300px) {

    .text-doms {
        font-size: 7vw;
    }
}


@media only screen and (max-width: 1240px) {
    .header_link__item_first {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .header_link__item_first {
        display: none;
    }
    .header-link__item,
    .header-link__item a {
        font-size: 2vw !important;
    }
    .header-link__item {
        position: relative;
        top: 4px;
    }
    .header-link-middle {
        top: -5px !important;
    }
    .popupContent {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 991px) {
    .text-doms {
        font-size: 11vw;
    }
    .west {
        width: 50%;
    }
    .west .block {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .pagintaion-wrap {
        padding-left: 15px;
    }
    .lot-sort-mobile {
        display: block;
        margin-left: 1.25rem;
    }
    .lots__inner {
        overflow: hidden;
    }
    #ajaxPopups {

        z-index: 100000;
    }

    #ajaxPopupCallBack {
        z-index: 200000;
    }

    .header {
        height: 94px;
        left: 0;
        right: 0;
        top: 0;
        z-index: 20000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
    }

    .header-column {
        /*position: relative;*/
        /*top: 50%;*/
        /*transform: translateY(-50%);*/
    }

    .logo {
        display: none !important;
    }

    .logo-mobile {
        display: inline-block;
        vertical-align: middle;
    }

    .header-link__list {
        width: auto;
    }

    .header-link__item,
    .header-link__item a {
        font-size: 28px !important;
    }

    .header-link__item.call a {
        display: none;
    }

    .header-link__item {
        top: -4px !important;
    }

    a.header-icon {
        display: block !important;
    }

    .header-link-call {
        position: relative;
        top: -10px !important;
    }

    .header-link__item.call {
        margin: 0 5%;
    }

    .choose-mobile {
        display: block;
        z-index: 5000;
    }

    #loft-table {
        position: relative;
        z-index: 6000;
    }

    .text-week {
        font-size: 3vw;
    }
    .popup {
        top: 0 !important;
        bottom: 0 !important;
        height: 100%;
        overflow-y: scroll;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
    div#ajaxPopups .plan {

    }
    .lots__inner {
        background-color: #345385;
    }
    .lot {
        position: relative;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .lot:after,
    .lot:before {
        display: block;
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
    }
    .lot:after {
        background-color: #4972b4;
        left: 0;
    }
    .lot:before {
        background-color: #ffffff;
        right: 0;
    }
    .lot [class^="lot__value-"] {
        overflow: hidden;
        z-index: 10;
        position: relative;
        color: #ff5400;
    }
    .lot [class^="lot__value-"]:before {
        color: #ffffff;
        padding-left: 15px;
    }
    .lotItems {
        padding: 0.8rem;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {

    .header {
        height: 80px;

    }
    .popup {
        top: 0 !important;
        bottom: 0 !important;
        height: 100%;
        overflow-y: scroll;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
    .header-link__item, .header-link__item a {
        font-size: 19px !important;
    }

    li.header-link__item.call.header-link-call {
        width: 30px;
    }

    .header-call-icon {
        background: url(../img/header-call-icon.png) no-repeat 0 0;
        width: 48px;
        height: 48px;
        -webkit-background-size: 62% 62%;
        -moz-background-size: 62%;
        -o-background-size: 62%;
        background-size: 62%;
        background-position: 0 18%;
    }

    .header-mail-icon {
        background: url(../img/header-mail-icon.png) no-repeat 0 0;
        width: 48px;
        height: 33px;
        -webkit-background-size: 70% 70%;
        -moz-background-size: 70%;
        -o-background-size: 70%;
        background-size: 70%;
    }

    .choose-mobile {
        position: fixed;
        top: 22px;
        left: 359px;
        right: 0;
        display: block;
        max-width: 480px;
        margin: 0 auto;
        width: 230px;
        height: 45px;
        z-index: 99999;
    }

    .logo-mobile {
        width: 80px;
        height: 80px;

    }

}
@media screen and (max-width: 500px) {
    .header-link-middle {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .entry__desc {
        line-height: 1.1 !important;
        width: 50%;
        font-size: 5vw !important;
    }
    .entry__num {
        font-size: 34vw;
        width: 50%;
    }
    .registration .title {
        font-size: 6vw;
    }
    .registration .text {
        font-size: 4vw;
    }
    .registration .brush,
    .registration .brush span {
        font-size: 16vw;
        margin-top: 5%;
    }
    .content__item.metro .fg {
        font-size: 30vw;
        margin-top: 5%;
    }
    .content__item.metro .slide span:nth-child(2) {
        margin-top: 7%;
    }
    .text-week {
        font-size: 5vw;
    }
    .text-doms {
        font-size: 23vw;
    }
    .readyBlock .fp.fs20 {
        font-size: 5vw;
    }
    .readyBlock .blockIcon2.fontIcon.orange {
        display: none;
    }
    .studioText--ready {
        font-size: 25vw;
        margin-top: 14%;
    }
    .content__item.west {
        height: auto !important;
    }
    .west {
        width: 100%;
    }
    .west .fp.fs29smaller {
        font-size: 7.6vw;
    }
    .west .fp.fs28 {
        font-size: 5vw;
    }
    .content__item.west .fg {
        font-size: 13vw;
        padding-top: 5%;
    }
    .content__item.west ul {
        font-size: 3vw;
    }
    .header-column {
        white-space: nowrap;
    }
    .header-phone-text {
        font-size: 7.3vw !important;
    }
    .content__item.metro .slide,
    .entry {
        padding-left: 0.9375rem;
    }
    .content__item.block_white.metro {
        height: auto !important;
        padding-bottom: 4%;
    }
    .autoHeight {
        height: auto !important;
    }
    .content__item.area2 .fp.fs38.tBlue {
        font-size: 10.9vw;
    }
    .content__item.area2 .fl.fs50.lhCond.tBlue {
        font-size: 10vw;
    }
    .content__item.area2 .fl.fs100.mTopMarg10.tBlue {
        font-size: 22vw
    }
    .galleryGroup .slick-next:hover,
    .galleryGroup .slick-next:focus,
    .galleryGroup .slick-prev:hover,
    .galleryGroup .slick-prev:focus,
    .galleryGroup .slick-prev,
    .galleryGroup .slick-next {
        width: 50px;
        height: 21px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
    .btn-def {
        font-size: 26px;
    }
    .header {
        position: fixed;
    }
    #content {
        padding-top: 94px;
    }
    .compact {
        background-color: #345385;
        height: auto !important;
        padding-bottom: 4%;
        padding-top: 5%;
    }
    .compact .fg.upper.fs37 {
        font-size: 11vw;
        margin-top: 3%;
    }
    .sliderCard .slick-arrow,
    .slider .slick-arrow {
        width: 70px !important;
        height: 30px !important;
    }
    .sliderCard .slick-next,
    .slider .slick-next {
        right: 2rem !important;
    }
    .sliderCard .slick-prev,
    .slider .slick-prev {
        left: 2rem !important;
    }
    .studios {
        height: auto !important;
    }
    .popup {
        top: 0 !important;
        bottom: 0 !important;
        height: 100%;
        overflow-y: scroll;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
    p.phone {
        font-size: 28px !important;
    }
    .popup--callback .popup__inner {
        padding-top: 65px;
    }
    .popup--callback .popup__title {
        font-size: 36px;
    }
}






.not-page-logo {
    width: 190px;
    height: 190px;
}
@media only screen and (max-width: 767px) {
    .not-page-logo {
        width: 120px;
        height: 120px;
    }
}

.not-page {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    color: #4972b4;
}

.not-page__title {
    font-size: 302px;
    line-height: 1;
    font-family: 'sprite_graffiti', sans-serif;
    letter-spacing: -30px;
}

@media only screen and (max-width: 767px) {
    .not-page__title {
        font-size: 140px;
        letter-spacing: -10px;
    }
}

.not-page__desc {
    font-size: 28px;
    line-height: 1;
    font-family: 'posterizerkgrough', sans-serif;
    margin-top: -45px;
    margin-left: 20px;
}

@media only screen and (max-width: 767px) {
    .not-page__desc {
        font-size: 24px;
        margin-top: -20px;
        margin-left: 10px;
    }
}

.not-page__desc br {
    display: none;
}

@media only screen and (max-width: 767px) {
    .not-page__desc br {
        display: block;
    }
}

.not-page__desc a {
    text-transform: none;
    font-size: inherit;
}